@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Epilogue", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(125, 5, 211);
}

.arrow {
  position: fixed;
  bottom: 30px;
  right: 7px;
  z-index: 2;
  padding: 1em;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@layer components {
  .flex-columns {
    @apply flex flex-col flex-wrap items-center justify-center;
  }
  .flex-rows {
    @apply flex flex-row flex-wrap items-center justify-center;
  }
}
